/* Variable */
:root {
  --pink: #db8287;
}
/* Class Selectors */
.mint-green {
  color: hsl(131, 91%, 86%);
}

.special-hover:hover {
  color: blue;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* ID Selectors */

#bold-white {
  color: color(srgb 1 1 1);
}
#pink-shade {
  color: var(--pink, pink);
}

#pictures {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0.2in;
  margin-left: 0cm;
  margin-right: 10px;
}

#videos {
  text-align: center;
  position: relative;
  text-align: center;
  display: block;
}
#card-video {
  height: auto;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
}
#audio,
#agenda {
  margin: auto;
  text-align: center;
}

#agenda {
  padding: 2% 0 2% 1%;
  border-style: solid;
  border-color: navy;
  border-width: 2px;
  border-radius: 5px;
  position: static;
  &:hover {
    background-color: #ebecf0;
  }
}

#position-btn {
  display: inline-block;
  height: 30px;
  width: 5vw;
  max-width: 150px;
  min-width: 100px;
  margin-top: 5px;
}

#position-btn:hover {
  background-color: gold;
}
#position-btn:active {
  background-color: forestgreen;
}

#media {
  margin: 2% 5em 1vw 0%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
/* Element Selector */

body {
  background-color: color(srgb 0.75 0.75 0.75);
}

/* Attribute Selector */
a[href="#media"] {
  color: color-mix(in srgb, green 60%, black 40%);
}

footer {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0%;
  padding-right: 2%;
}
/* combinator selectors */
ul li {
  text-decoration: line-through;
}

ol > li {
  text-align: left;
}

button ~ h2 {
  display: block;
}

summary + p {
  color: purple;
}

li.strawberry {
  color: red;
}

h3:has(+ ol) {
  text-decoration: underline;
}

/* Universal Selector */

* {
  font-family: "Inter";
}

/* Responsiveness Properties */

@media screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
  #media {
    grid-template-columns: 1fr;
  }
}
